body
{
background-image: url(https://c1.staticflickr.com/7/6056/6327876385_485bfef56c_b.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

h1
{
color:white; font-size: 30px;
}

p
{
 color:white; font-size: 18px;
}
